@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Flex:opsz,wght@6..144,1..1000&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #ffffff;
    color: #000000;
}

textarea {
    font-family: "Google Sans Flex", sans-serif;
    font-size: 50px;
    text-align: right;
    width: 100%;
    height: 90vh;
    border: none;
    background-color: #ffffff;
    color: #000000;
}

textarea:focus {
    outline: none;
}

button {
    position: fixed;
    bottom: 10px;
    left: 10px;
    font-size: 12px;
    cursor: pointer;
    padding: 6px 10px;
    background-color: #ffffff;
    color: #000000;
    border: 1px solid #999;
}

#importBtn {
    left: 110px;
}

#themeToggle {
    left: 200px;
}
